  <input type="text" class="form-control form-control-inline" id="txtSearchProduct" placeholder="Search in shop...">
    <div class="input-group-append">
        <button type="button" onclick="SearchProduct()" class="btn btn-light border-left-0"><i class="ya ya-search m-0"></i></button>
    </div>

