
@{
    ViewBag.Title = "ExchangeList";
}

<div class="content-wrapper">

    <div class="row grid-margin">

        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="btn-toolbar mb-0 d-none d-sm-block" role="toolbar" style="text-align:right;" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <a href="/Admin/Exchange" class="btn btn-success">
                                <i class="mdi mdi-plus-circle"></i> Add Exchange
                            </a>
                        </div>

                    </div>
                    <div style="height:10px"></div>
                    <h4 class="card-title">Exchange</h4>
                    <div id="ExchangeList"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/App/Exchange/jsExchangeList.js"></script>

