
@{
    ViewBag.Title = "Faq";
}

<section class="bg-image" style="background-color: rgb(53, 54, 56) !important;">
    <img src="/Content/img/Headers/About/Faq.jpg" alt="">
    <div class="owl-caption">
        <div class="owl-caption-container">
            <h1 class="owl-title">FAQ</h1>

        </div>
    </div>
</section>

<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 order-1 order-lg-2 pl-lg-4">
                <div id="account-settings" class="accordion mb-4">
                    <div class="accordion-header">FAQ</div>
                    <div class="accordion-item">
                        <a class="accordion-link" href="#collapseaccount-settings1" data-toggle="collapse" aria-expanded="true" data-target="#collapseaccount-settings1" aria-controls="collapseaccount-settings1">Can I return the product?</a>
                        <div class="collapse show" id="collapseaccount-settings1">
                            <p class="accordion-text">Yes, you can return the product within 30 days period of time and then return is contingent on safety of the device and its accessories.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings2" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings2" aria-controls="collapseaccount-settings2">Can I cancel the order I made through the website because of mistake I did?</a>
                        <div class="collapse" id="collapseaccount-settings2">
                            <p class="accordion-text">Yes, you can cancel it and get a full refund if you called us, so we can cancel the shipment. Otherwise, we would deduct the shipping fees and return to you the remaining of the spent amount</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings3" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings3" aria-controls="collapseaccount-settings3">When can I return the item?</a>
                        <div class="collapse" id="collapseaccount-settings3">
                            <p class="accordion-text">You can return the item through the same shipping company. Otherwise, the buyer should be paying for the shipping fees.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings4" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings4" aria-controls="collapseaccount-settings4">When we do not accept a refund?</a>
                        <div class="collapse" id="collapseaccount-settings4">
                            <p class="accordion-text">We do not accept a refund when the main box of the product is damaged or any of its accessories.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings5" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings5" aria-controls="collapseaccount-settings5">Do the used gaming consoles have a warranty?</a>
                        <div class="collapse" id="collapseaccount-settings5">
                            <p class="accordion-text">Yes, we offer 30 days warranty on the used devices and you can refund it within this period of time and it’s contingent on the safety of device and its accessories.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings6" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings6" aria-controls="collapseaccount-settings6">Do you accept exchanging gaming consoles like PS3 with PS4 or any other?</a>
                        <div class="collapse" id="collapseaccount-settings6">
                            <p class="accordion-text">Yes, we accept exchanging devices only if they are in good conditions and you pay the difference.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-link collapsed" href="#collapseaccount-settings7" data-toggle="collapse" aria-expanded="false" data-target="#collapseaccount-settings7" aria-controls="collapseaccount-settings7">Do you accept exchanging game DVDs of different consoles?</a>
                        <div class="collapse" id="collapseaccount-settings7">
                            <p class="accordion-text">Yes, we accept that and you should pay the difference. </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
