
@{
    ViewBag.Title = "Privacy";
}

    <section class="bg-image" style="background-color: rgb(53, 54, 56) !important;">
        <img  src="/Content/img/Headers/About/Privacy-Policy.jpg" alt="">
        <div class="owl-caption">
            <div class="owl-caption-container">
                <h1 class="owl-title">Privacy Policy</h1>
                
            </div>
        </div>
      
    </section>
<br />
<section class="py-lg-5 border-bottom-dashed">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="post post-single">

                    <div class="post-body">

                        <h6>Privacy Policy</h6>
                        <p>
                            Rauf Store (Hereinafter “RaufStore.com " or "the Company" or "Hysain Rauf LTD" or "we") is the owner of the website www.RaufStore.com ("the Website") and the RaufStore.com mobile application (“the App”; collectively and separately known as “the Service”). We are committed to protecting your privacy and we understand you want to keep your information private, safe and discrete. This Privacy Policy is designed to help you decide whether to use the Service and in what manner, and it describes how we collect, store and use information on individuals who use the Service.
                        </p>

                        <div style="height:20px"></div>

                        <h6>Consent to use Information</h6>
                        <p>
                            This Policy is a legally binding agreement between you (“you” or “user”) and us. By visiting, accessing or using the Website or App, or providing information to us in any other format, you agree to and accept the terms of this Privacy Policy, as amended from time to time, and you consent to the collection and use of information in the manner set out in this Policy. We encourage you to review this Policy carefully and to periodically refer to it so that you understand it and its subsequent changes if any. IF YOU DO NOT AGREE TO THE TERMS OF THIS PRIVACY POLICY, PLEASE STOP USING THE SERVICE IMMEDIATELY AND WHERE RELEVANT UNINSTALL. The definitions in the terms and conditions apply to this Privacy Policy unless stated otherwise. IN ADDITION TO THIS POLICY, PLEASE REVIEW OUR TERMS AND CONDITIONS AND COOKIE POLICY WHICH ARE INCORPORATED HEREIN BY REFERENCE, TOGETHER WITH SUCH OTHER POLICIES OF WHICH YOU MAY BE NOTIFIED OF BY US FROM TIME TO TIME.
                        </p>

                        <div style="height:20px"></div>

                        <h6>Security and Confidentiality</h6>
                        <p>
                            The Company treats your Personal Information in strict confidentiality, and the server in which this data is to be stored includes the necessary industry-standard security measures to prevent accidental or unlawful destruction, loss, alteration, unauthorized disclosure or access. However, we cannot completely guarantee the security of your information, which might be accessed, disclosed, modified, or destroyed, and it should be emphasized that you share this information at your own risk.
                        </p>

                    </div>
                </div>
                <!-- end .post-single -->

            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h6 class="subtitle mb-4">You should also like</h6>
        @{
            Html.RenderAction("RelatedProducts", "Game");
        }
    </div>
</section>

<script src="~/Scripts/App/Game/jsCart.js"></script>

