@model List<Rauf_Gaming.Models.SliderV>
<section class="bg-darken p-1">
    <div class="container-fluid px-0">
        <div class="owl-carousel" ya-carousel="autowidth: true;dots: false;margin: 4;items: 2">
            @foreach (var item in Model)
            {
                var Imagepath = Rauf_Gaming_Web.Classes.Settings.IMAGE_PATH + item.ImagePath;
                <div class="owl-img owl-img-games lazyload">
                    <img class="lazyload" data-src="@Imagepath" alt="">
                    <div class="owl-caption owl-caption-bottom">
                        <h1 class="owl-title bg-darken text-white"><a href="/Game/ProductDetail?Id=@item.ProductId">@item.Title</a></h1>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
